:root {
  --message-line-width: 300px;
  --label-line-width: 540px;
  --line-height: 2px;
  --label-width: 540px;
  --label-height: 54px;
  --label-radius: 2px;
  --circle-border: 2px;
  --circle-width: 56px;
  --circle-height: 56px;
  --circle-radius: 50%;
}
/* message setting*/
.default-message-line {
  color: #657786;
  width: var(--message-line-width);
  height: var(--line-height);
}
.hover-message-line {
  color: var(--secondary-blue);
  width: var(--message-line-width);
  height: var(--line-height);
}
.error-message-line {
  color: var(--danger-color); 
  width: var(--message-line-width);
  height: var(--line-height);
}

/* label setting */
.default-label-line {
  color: #657786;
  width: var(--label-line-width);
  height: var(--line-height);
}
.hover-label-line {
  color: var(--secondary-blue);
  width: var(--label-line-width);
  height: var(--line-height);
}
.error-label-line {
  color: var(--danger-color); 
  width: var(--label-line-width);
  height: var(--line-height);
}
.disable-label-line {
  color: #F5F8FA;
  width: var(--label-line-width);
  height: var(--line-height);
}
.label {
  width: var(--label-width);
  height: var(--label-height);
  border-radius: var(--label-radius);
}

/* button basic*/
.btn-bg {
  background-color: var(--main-color);
  color: #FFFFFF;
}

.btn-border {
  border: 1px solid var(--main-color);
}

/* 背景白色、邊框&文字其他顏色的按鈕 */
.btn-clip {
  background-color: #FFFFFF;
  color: var(--main-color);
}

/* radius 50 */
.btn-50 {
  border-radius: 50px;
}


/* form */
.form-input {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  height: 54px;
  background: #f5f8fa;
}

.form-input input {
  padding-left: 10px;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom-color: #657786;
  background: inherit;
}

.form-input input:hover, .form-input input:focus {
  border-bottom: 2px solid var(--secondary-blue);
  outline: none;
}
.form-input label{
  line-height: 22px;
}
.form-input-error input {
  outline: none;
  border-bottom: 2px solid var(--danger-color);
}
.form-input-title {
  margin-top: 5px;
  margin-left: 10px;
  color: var(--dark-80);
}
.form-input-text {
  color: var(--dark-60);
}
/* toast setting */
.toast {
  width: 394px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1.5rem;
  height: 96px;
  margin: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-circle {
  padding: 1.25rem;
  border-radius: 50%;
}
.toast-circle.green {
  border: 2px solid var(--secondary-green);
}
.toast-circle.danger {
  border: 2px solid var(--secondary-danger);
}
.toast-circle.warning {
  border: 2px solid var(--secondary-warning);
}
.toast-circle.newTweet {
  border: 2px solid var(--secondary-blue);
}

.toast-icon {
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
}
.toast-icon.green {
  background-image:
    require("./../assets/pictures/check.png");
}
.toast-icon.danger {
  background-image:
    require("./../assets/pictures/error.png");
}
.toast-icon.warning {
  background-image:
    require("./../assets/pictures/warning.png");
}
.toast-icon.newTweet {
  background-image:
    require("./../assets/pictures/newTweet.png");
}

.toast-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

/* sidebar general setting */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-top {
  display: flex;
  flex-direction: column;
}

.nav-title {
  color: var(--dark-90);
  font-weight: 700;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: calc((2.5rem - var(--bs-nav-link-padding-y))/2) 0;
}

.nav-icon {
  width: 20px;
  height: 20px;
  background-position: center;
  margin-right: 1.12rem;
}

/* 以 filter 改變 nav icon 顏色 */
.nav-link:hover,
.nav-link.active {
  filter: brightness(0) saturate(100%) invert(38%) sepia(52%) saturate(2219%) hue-rotate(2deg) brightness(107%) contrast(105%);
  color: var(--main-color);
}

/* 添加 col setting */
.col {
  margin-left: calc(1.5rem - (var(--bs-gutter-x) * .5));
  margin-right: calc(1.5rem - (var(--bs-gutter-x) * .5));
}

.col,
.col-6 {
  height: 100vh;
}

.col-6 {
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

/* 使用者小圖示 */
.user-image-sm {
  width: 50px;
  height: 50px;
}

/* twitter user handle setting */
.user-handle {
  color: var(--dark-70);
  font-size: 0.875rem;
  font-weight: 500;
}

.user-name {
  font-weight: 700;
}

