/* 標點符號與數字 */
@font-face {
  font-family: CustomFont;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  unicode-range: U+0021-0039;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: CustomFont;
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  unicode-range: U+0021-0039;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: CustomFont;
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  unicode-range: U+0021-0039;
  font-style: normal;
  font-weight: 700;
}

/* 英文字母與中文字 */
@font-face {
  font-family: CustomFont;
  src: url('/fonts/NotoSansTC-Regular.otf') format('opentype');
  unicode-range: U+0041-007A, U+4E00-9FFF;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: CustomFont;
  src: url('/fonts/NotoSansTC-Medium.otf') format('opentype');
  unicode-range: U+0041-007A, U+4E00-9FFF;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: CustomFont;
  src: url('/fonts/NotoSansTC-Bold.otf') format('opentype');
  unicode-range: U+0041-007A, U+4E00-9FFF;
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  font-family: CustomFont, sans-serif;
}

h1 {
  font-size: 4.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.625rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}
